<%= form_tag discontinue_products_path, method: :patch do %>
<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Price</th>
    <th>Discontinued</th>
    <th>Category</th>
    <th></th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= check_box_tag 'product_ids[]', product.id %></td>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.discontinued ? "Yes" : "No" %></td>
      <td><%= product.category.name %></td>
      <td><%= link_to "Edit", edit_product_path(product) %></td>
    </tr>
  <% end %>
</table>

<%= submit_tag "Discontinue" %>
<% end %>